<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="../../../style/style.css">
    <script src="../../../script/auth/user/register-login.js"></script>
    <script src="../../../script/page/goToPage.js"></script>
    <link rel="stylesheet" href="../../../style/Login.css">
    <script src="../../../script/auth/user/login.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="login-container">
        <h2>XIN CHÀO</h2>
        <p>Vui lòng nhập email và mật khẩu để tiếp tục</p>
        <div class="input-group">
            <input type="text" id="login-email" placeholder="Nhập email">
        </div>
        <div class="input-group">
            <input type="password" id="login-password" placeholder="Nhập mật khẩu">
        </div>
        <button class="login-button">Tiếp tục</button>
        <div class="separator">Hoặc</div>
        <button class="google-button">
            <i class="fab fa-google google-icon"></i> 
            Tiếp tục với Google
        </button>
        <p class="register-link">Chưa có tài khoản? <a href="../../../view/customer/auth/userRegister.html">Đăng ký</a></p>
    </div>

</body>

</html>