body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.login-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 30px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
}

.login-container p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 302px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #57d3dd;
    outline: none;
    box-shadow: 0 0 5px rgba(87, 211, 221, 0.5);
}

.login-button {
    width: 323px;
    padding: 12px;
    background-color: #57d3dd;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #4ac4cd;
}

.separator {
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

.google-button {
    width: 325px;
    padding: 12px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.google-button:hover {
    background-color: #d9d9d9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.google-icon {
    margin-right: 8px;
    font-size: 20px;
    color: #4285F4;
}

.google-icon::before {
    content: '\f1a0';
    background: linear-gradient(to right, #4285F4 33%, #EA4335 33%, #FBBC05 66%, #34A853 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register-link {
    margin-top: 10px;
    font-size: 12px;
    color: #888;
}

.register-link a{
    color: #57d3dd;
    text-decoration: none;
}