#userTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#userTable th,
#userTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#userTable th {
  background-color: #f4f4f4;
}
tr:nth-child(even) {
  background-color: #f4f4f4;
}
input,
button,
select {
  padding: 5px 10px;
}
